body {
    background-color: #6a6a6a;
}

.bi {
    color: white;
}

.form-control {
    color: #f2f2f2 !important;
}

.form-select {
    color: #f2f2f2 !important;
}

.form-label:after {
    content: ':';
}

.form-wrap {
    display: flex;
    flex-direction: column;
}

.popover {
    max-width: 500px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #000;
}
.select2-selection {
    background-color: #222222!important;
    border: 1px solid #000!important;
}
.select2-search--dropdown {
    background-color: #000;
}
.select2-search__field {
    background-color: #000;
}
.select2-results {
    background-color: #000;
}
.select2-selection__choice__display {
    color: #000;
}
.select2-selection__choice__remove span {
    color: red;
}
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    color: white!important;
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 500px !important;
}

.ipa-button {
    margin-bottom: 5px;
}
.ipa-button.selected {
    border-color: orange;
    background-color: #444;
}

footer .card {
    min-height: 120px;
}
.textDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 100%;
    color: #fff;
    -webkit-transform: translateX(-50%) translatey(-50%);
    -moz-transform: translateX(-50%) translatey(-50%);
    transform: translateX(-50%) translatey(-50%);
    padding-left: 15px;
}
.text2 {
    opacity: 0;
}