<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>lofanjedt - {{ title|default('') }}</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/app.js"></script>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <div class="card mt-2 mt-md-5 p-3">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
