<div class="row">
    <div class="col-12">
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ˌ'>ˌ</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ˈ'>ˈ</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ǝ'>ǝ</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ð'>ð</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ɛ'>ɛ</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ɣ'>ɣ</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ʒ'>ʒ</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ɲ'>ɲ</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ɔ'>ɔ</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ɾ'>ɾ</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ʃ'>ʃ</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='«'>«</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='»'>»</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='→'>→</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ç'>ç</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='æ'>æ</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='œ'>œ</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='Á'>Á</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='á'>á</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='É'>É</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='é'>é</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='Í'>Í</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='í'>í</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='Ó'>Ó</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ó'>ó</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='Ú'>Ú</button>
        <button class='btn btn-outline-secondary text-white ipa-button' type='button' data-value='ú'>ú</button>
    </div>
</div>