{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <a href="" class="btn btn-outline-success float-end">new entry</a>
            <h3>lofanjedt</h3>
        </div>
    </div>
    <hr>
    <table class="table table-hover table-striped">

    </table>
{% endblock %}
