{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <a class="btn btn-outline-success float-end" href="{{ path('admin_user_form') }}">new user</a>
            <h3>users</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <table class="table table-responsive-md table-hover table-striped table-sm DataTable" id="user-table">
                <thead>
                <tr>
                    <th>username</th>
                    <th>role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.userIdentifier }}</td>
                        <td>
                            {% if user.granted("ROLE_ADMIN") %}
                                <span class="badge bg-danger"><i>admin</i></span>
                            {% elseif user.granted("ROLE_USER") %}
                                <span class="badge bg-light"><i>user</i></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.id != 1 or app.user.id == 1 %}
                                <a class="btn btn-outline-light btn-sm" href="{{ path('admin_user_form', {'id': user.id}) }}">update</a>
                                <a class="btn btn-outline-danger btn-sm" onclick="return confirm('are you sure?')" href="{{ path('admin_user_delete', {'id': user.id}) }}">delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="16">nothing found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
